@import '../scss/colors.scss';

.userpage__header{
    color: $text-color;
}

.userpage__eventContainer {
    // height: 100px;
    width: 100%;
    background-color: $container;
    display: flex;
    border-radius: 0.5rem;
    // justify-content: space-between;
    border-bottom: 1px solid lightgray;
}

.eventContainer__dateDescription {
    color: $text-color;
    margin-top: 5px;
    justify-content: space-between;
}

.dateDescription__date {
    margin-bottom: 15px;
    margin-left: 180px;
    margin-top: 10px;
}

.dateDescription__description {
    margin-right: 20px;
}

.eventContainer__event {
border-radius: 0.5rem;
}