@import '../scss/colors.scss';


.userpage__eventContainer {
    margin-top: 10px;
    width: 100%;
    background-color: $container;
    display: flex;
    border-radius: 0.5rem;
    border-bottom: 1px solid lightgray;
}

.userpage__eventList {
    position: relative;
    margin-top: 30px;
}

.eventContainer__dateDescription {
    color: $text-color;
    margin-top: 5px;
    justify-content: space-between;
}

.dateDescription__date {
    margin-bottom: 20px;
    margin-left: 180px;
    margin-top: 10px;
}

.dateDescription__description {
    margin-top: 5px;
    margin-left: 55px;
}

.eventContainer__event {
border-radius: 0.5rem;
}