.background-color {
    background-color: lightcyan;
}

.body {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
}

.header{
    width: 100%;
    // min-height: 60px;
    background: red;
    top: 0;
    
  }


.center{
    width: 100%;
    max-height: calc(100% - 200px);
    overflow-y: scroll;
    // padding: 0px 10% !important;
    
}



.footer{
    width: 100%;
    min-height: 40px;
    background: red;
    bottom: 0;
    position: fixed;
    
  }


  


  