.camera__body{
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: lightsalmon;

}


.camera {
    height: 350px;
    width: 100%;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}


.camera__btn {
    width: 100%;
    position: relative;
    margin-top: -40%;
    background: none;
}