.event__modal {
    background-color: white;
    max-width: 500px;
    border: 1px solid lightgray;
    margin-bottom: 45px;
}


.event__modalImage{
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.event {
    background-color: white;
    // max-width: 500px;
    border: 1px solid lightgray;
    background-color: blue;

}

.event__imgClick {
    width: 200px;
    height: 200px; 
    display: inline-block; 
    object-fit: cover;
    background-position: center;
    background-color: green;
}