

.event__imgClick {
    width: 112px;
    height: 112px;
    // display: inline-block; 
    // object-fit: cover;
    background-position: center;
    background-color: green;
    border-radius: 0.4rem;
}


.event__modalImage{
    height: 250px;
    width: 290px;
//     max-width:200%;
// max-height:100%;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-radius: 0.5rem;

}

.event__modalDate {
    text-align: center;
    
}

.event__modalBtns{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.event__modalCaption{
    margin-top: 10px;
}

.event__modalCheckBtn{
    margin-left: 160px;
    margin-top: 20px;
    justify-content: center;
    
}
