@import '../scss/main.scss';

.newevent {
    // margin-bottom: 10%;
    background-color: $body;
    color: $text-color;
}

.neweventform__imageView {
    margin-top: 20px; 
    height: 377px;
    width: 377px;
    border: 1px solid lightgray;
    border-radius: 0.25rem;
}

.neweventform__imgPreview {
    height: 375px;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    
    // object-fit: contain;
    // border-top: 1px solid lightgray;
    // border-bottom: 1px solid lightgray;
    // margin: 0, 5vw;
}

.neweventform__imgButtonContainer {
    width: 100%;
    // margin-top: 30px;
    object-position: center; 
    display: flex; 
    justify-content: space-between;
}

.newevent_form {
    margin-bottom: 10%;
    margin-top: 10%;
}

.newevent__header {
    
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 50px;
        padding-left: 3px;
        padding-right: 3px;
        top: 0.25rem;
        position: fixed;
        align-items: center;
        color: $text-color;

}

  .newevent__form {
    margin-top: 22%;
      display: flex;
      align-items: center;
    //   justify-content: space-between;
  }

  .newevent__topBtns {
      display: flex;
      justify-content: space-between;
      margin-top: 10%;
  }



input[type="checkbox"]{
    display: none;
}

img {
    height: 375px;
    width: 375px;
}

.neweventform__imageInput, input[type="file"]{
    display: none;
}

.text_color {
    color: whitesmoke !important;
}
