@import '../scss/main.scss';






.neweventform__imageView  {
    
}

.neweventform__imgPreview {
    width: 100vw;
    height: 350px;
    // object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin: 0, 5vw;

}


.neweventform__camera{
    height: 300px;
    width: 100%;
    
  }

  .newevent__form {
      margin-top: 50%;
  }

  .newevent__topBtns {
      display: flex;
  }



input[type="checkbox"]{
    display: none;
}

img {
    height: 375px;
    width: 100%;
}

.neweventform__imageInput, input[type="file"]{
    display: none;
}
