.archive__imgContainer{
    background-color: white;
    max-width: 1000px;
    border: 1px solid lightgray;
    margin-bottom: 45px;
    display: flex;
    background-color: red;

}

.imgContainer__event {
    width: 200px;
    height: 200px; 
    display: inline-block; 
    background-size: cover;
    background-position: center;
}