@import '../scss/colors.scss';

.archive {
    width: 100%;
    margin-top: 20px;
    overflow-y: scroll;
    background-color: $body;
}

.archive__imgContainer{
   width: 100%;
   padding: 5px;
   overflow: auto;
   justify-content: center;
   position: relative;
}

.drawer__imgContainer{
    width: 100%;
    padding: 5px;
    overflow: auto;
    justify-content: center;
    background-color: $container;
   
 }

.imgContainer__event {
    width: 100%;
    display: flex;
}

.dateSearch__btns {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.archive__dateSearch {
    padding: 5px;
    justify-content: center;
    background-color: $background;
}

.dateSearch_menus {
    padding: 10px;
    justify-content: center;
}