.newevent{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: lightcoral;
  }


  .newevent__form{
    padding: 20px;
    display: flex;
    justify-content: center;
  }